<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twittah</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .form-row{
            display: flex;
            margin-top: 50px;
            margin-left: 38%;
        }
        .btn-primary{
            margin-left: 10px;
        }
        .btn-danger{
            margin-left:10px;
        }
    </style>
</head>
<body>
    <h1 style = "text-align: center">Twitter word counter</h1>

        <form action="/GetData/" method="post"> {% csrf_token %}
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Username</label>
                    <div class="input-group mb-2" style="display: inline">
                        <input type="text" class="form-control" name = "username" id = "id_username" placeholder="Username" required="required">
                    </div>
                </div>
                <div class="col-auto">
                    <input type="submit" class="btn btn-primary mb-2" value = "Execute">
                </div>
            </div>
        </form>
        <form style ="margin-left: 50%;" action="/DeleteData/" method="post"> {% csrf_token %}
            <input type="submit" class="btn btn-danger mb-2" value="Reset">
        </form>

    {% for elemento in word_list %}
        <h3>{{ elemento.username}}</h3>
        <ul id="id_list">
            <li> {{ elemento.content }} </li>
        </ul>
    {% endfor %}
</body>
</html>